{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true,
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "no-unused-vars": 0,
    "comma-dangle": 0,
    "id-length": [2, {"exceptions": ["e"]}]
  }
}

