@import 'jeet/index';

body {
	background-color: white;
}

.container {
  @include center;
}

section {
  @include center;
}

section.checkbox, section.inputs {
  @include col(1/2);
}

.inverted {
  margin: 10px 0;
  padding: 10px;
  background-color: #2B3F71
}
