@import 'jeet/index';

body {
	background-color: white;
}

#toolkit {
  @include center;
}

section {
  @include cf;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.inverted {
  margin: 10px 0;
  padding: 10px;
  background-color: #2B3F71
}

.half {
  @include cf;
  text-align: center;
  @media screen and (min-width: 600px) {
    @include col(1/1, $cycle: 1);
   }
                    
  @media screen and (min-width: 900px) {
    @include col(1/2, $cycle: 2, $uncycle: 1);
  }
}

pre {
  text-align: left;
}

.clearfix {
  @include cf;
}

.bg-blue {
  background-color: #2B3F71;
}

.bg-green {
  background-color: #30AF3F;
}
