@import "../../node_modules/nowtv-grid/dist/scss/nowtv_grid.scss";

body {
	background-color: white;
}

#toolkit {
}

section {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.inverted {
  margin: 10px 0;
  padding: 10px;
  background-color: #2B3F71
}

.half {
  text-align: center;
  @media screen and (min-width: 600px) {
   }
                    
  @media screen and (min-width: 900px) {
  }
}

.now-tip {
  margin-bottom: 26px;
}

pre {
  text-align: left;
}

.clearfix {
}

.category {
  margin-bottom: 30px;
}

.bg-blue {
  background-color: #2B3F71;
}

.bg-green {
  background-color: #30AF3F;
}
