@import '../../colours'

.now-modal
  display: none
  content: ''
  background-color: rgba(0,0,0,0.5)
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 10

  &.visible
    display: block

  .modal__content
    background: #fefefe
    border-radius: 10px
    margin-left: -200px
    position: fixed
    left: 50%
    top: 20%
    z-index: 11
    width: 360px
    padding: 20px
    overflow: hidden

    .close-container
      position: relative

    .close-icon
      position: absolute
      background-image: url(assets/icons/close.svg)
      background-repeat: no-repeat
      background-size: 20px
      width: 20px
      height: 20px
      right: 0
      top: 0
      cursor: pointer

    @media screen and (max-width: 1000px)
      left: 0
      top: 0
      right: 0
      bottom: 0
      width: 100%
      margin: 0
      border-radius: 0
