<!DOCTYPE html>
<html>
<head>
    <title>NowTV React Toolkit - Documentation</title>
    <link href="/toolkit.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div id="app">{{{markup}}}</div>
  <script src="//web.static.nowtv.com/libs/react/0.14.6/react.min.js"></script>
  <script src="//web.static.nowtv.com/libs/react/0.14.6/react-dom.min.js"></script>
  <script src="toolkit.js"></script>
  <script src="docs.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
