@font-face
  font-family: nowtv-light
  src: url('assets/fonts/nowtvtext-light.woff') format('woff'), url('assets/fonts/nowtvtext-light.woff2') format('woff2'), url('assets/fonts/nowtvtext-light.ttf') format('truetype'), url('assets/fonts/nowtvtext-light.eot') format('eot')


@font-face
  font-family: nowtv-regular
  src: url('assets/fonts/nowtvtext-regular.woff') format('woff'), url('assets/fonts/nowtvtext-regular.woff2') format('woff2'), url('assets/fonts/nowtvtext-regular.ttf') format('truetype'), url('assets/fonts/nowtvtext-regular.eot') format('eot')


@font-face
  font-family: nowtv-bold
  src: url('assets/fonts/nowtvtext-bold.woff') format('woff'), url('assets/fonts/nowtvtext-bold.woff2') format('woff2'), url('assets/fonts/nowtvtext-bold.ttf') format('truetype'), url('assets/fonts/nowtvtext-bold.eot') format('eot')


body
  font-family: nowtv-regular, Helvetica, Arial, sans-serif

h1
  font: 40px/48px nowtv-light, Helvetica, Arial, sans-serif
  margin: 0 0 20px

h2
  font: 30px/34px nowtv-regular, Helvetica, Arial, sans-serif
  margin: 0 0 20px

h3
  font: 20px/26px nowtv-regular, Helvetica, Arial, sans-serif
  margin: 0 0 20px

h4
  font: 18px/24px nowtv-bold, Helvetica, Arial, sans-serif
  margin: 0 0 10px

h5
  font: 16px/16px nowtv-bold, Helvetica, Arial, sans-serif
  margin: 0

p
  font: 14px/18px nowtv-regular, Helvetica, Arial, sans-serif
  margin: 0 0 10px
  &.smaller
    font: 12px/16px nowtv-regular, Helvetica, Arial, sans-serif
    margin: 0 0 5px
