@font-face
  font-family: nowtv-light
  src: url('assets/fonts/nowtvtext-light.woff') format('woff'), url('assets/fonts/nowtvtext-light.woff2') format('woff2'), url('assets/fonts/nowtvtext-light.ttf') format('truetype'), url('assets/fonts/nowtvtext-light.eot') format('eot')


@font-face
  font-family: nowtv-regular
  src: url('assets/fonts/nowtvtext-regular.woff') format('woff'), url('assets/fonts/nowtvtext-regular.woff2') format('woff2'), url('assets/fonts/nowtvtext-regular.ttf') format('truetype'), url('assets/fonts/nowtvtext-regular.eot') format('eot')


@font-face
  font-family: nowtv-bold
  src: url('assets/fonts/nowtvtext-bold.woff') format('woff'), url('assets/fonts/nowtvtext-bold.woff2') format('woff2'), url('assets/fonts/nowtvtext-bold.ttf') format('truetype'), url('assets/fonts/nowtvtext-bold.eot') format('eot')


body, .body-text
  font: 14px/20px nowtv-regular, Helvetica, Arial, sans-serif
  +desktop
    font-size: 16px
    line-height: 20px

h1
  font: 48px/48px nowtv-light, Helvetica, Arial, sans-serif
  margin: 0 0 20

h2
  font: 30px/35px nowtv-regular, Helvetica, Arial, sans-serif
  margin: 0 0 20px
  +desktop
    font-size: 40px
    line-height: 42px

h3
  font: 27px/32px nowtv-regular, Helvetica, Arial, sans-serif
  margin: 0 0 20px
  +desktop
    font-size: 36px
    line-height: 40px

h4
  font: 24px/28px nowtv-regular, Helvetica, Arial, sans-serif
  margin: 0 0 10px
  +desktop
    font: 28px/32px nowtv-bold, Helvetica, Arial, sans-serif

h5
  font: 20px/24px nowtv-regular, Helvetica, Arial, sans-serif
  margin: 0
  +desktop
    font: 24px/28px nowtv-bold, Helvetica, Arial, sans-serif

h6
  font: 16px/20px nowtv-bold, Helvetica, Arial, sans-serif
  margin: 0
  +desktop
    font: 18px/24px nowtv-regular, Helvetica, Arial, sans-serif

p
  font: 14px/20px nowtv-regular, Helvetica, Arial, sans-serif
  margin: 0 0 10px
  +desktop
    font-size: 16px
    line-height: 20px

  &.smaller
    font: 11px/14px nowtv-regular, Helvetica, Arial, sans-serif
    margin: 0 0 5px
    +desktop
      font: 13px/18px nowtv-bold, Helvetica, Arial, sans-serif
