@import 'components/Button/ButtonStyles'
@import './components/Input/InputStyles'
@import './components/Dropdown/DropdownStyles'

@font-face
  font-family: nowtv-regular
  src: url('http://localhost:8080/NOWTVText_W_Rg.woff2')

@font-face
  font-family: nowtv-bold
  src: url('http://localhost:8080/NOWTVText_W_Bd.woff2')

body
  font-family: nowtv-regular, Helvetica, Arial, sans-serif
